<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>CIAOBRAND</title>
<meta name="keywords" content=""/>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/collections.css">
</head>
<body>
	<div class="contentbox">
		<header>
			<div id="header">
				<h1><a href="/">CIAOBRAND</a></h1>
				<a href="javascript:;" class="changelanguage">English</a>
			</div>
		</header>
	</div>
	<div class="container">
		<div class="contentbox">
			<div class="navigation">
				<ul>
					<li><a href="/about">about ciaobrand</a></li>
					<li><a href="/design">ciao design</a></li>
					<li class="first">
						<p class="bottom">collections</p>
						<ul class="second">
							<li class="index">hand bags</li>
							<li>wallets</li>
							<li>accessories</li>
						</ul>
					</li>
					<li><a href="/goddess">ciao's goddess</a></li>
					<li><a href="/contact">contact us</a></li>
				</ul>
			</div>
			<div class="content">
				<div class="collections">
					<div class="handbags col">
						<h2>CIAO BAGS</h2>
						<div class="lists editlists">
							<ul>
							<%  bags.forEach(function(bag){ %>
								<li><a href="/collections_product/bags/<%= bag.style_no %>">
									<div class="img">
										<img src="<%= bag.detail_pictures[0] %>"/>
										<p class='border'></p>
									</div>
									<div class="desc">
										<p class="name"><%= bag.title %></p>
										<p class="price"><%= bag.price %></p>
									</div>
									</a>
								</li>
							<%	}); 	%>
							<li class="addMore"><i></i></li>
							</ul>
						</div>
					</div>
					<div class="wallets col">
						<h2>CIAO WALLETS</h2>
						<div class="lists editlists">
							<ul>
							<%  wallets.forEach(function(wallet){ %>
								<li><a href="/collections_product/wallets/<%= wallet.style_no %>">
									<div class="img">
										<img src="<%= wallet.detail_pictures[0] %>"/>
										<p class='border'></p>
									</div>
									<div class="desc">
										<p class="name"><%= wallet.title %></p>
										<p class="price"><%= wallet.price %></p>
									</div>
									</a>
								</li>
							<%	}); 	%>
							<li class="addMore"><i></i></li>
							</ul>
						</div>
					</div>
					<div class="accessories col">
						<h2>CIAO ACCESSORIES</h2>
						<div class="lists editlists">
							<ul>
							<%  accessories.forEach(function(accessory){ %>
								<li><a href="/collections_product/accessories/<%= accessory.style_no %>">
									<div class="img">
										<img src="<%= accessory.detail_pictures[0] %>"/>
										<p class='border'></p>
									</div>
									<div class="desc">
										<p class="name"><%= accessory.title %></p>
										<p class="price"><%= accessory.price %></p>
									</div>
									</a>
								</li>
							<%	}); 	%>
							<li class="addMore"><i></i></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="contentbox">
		<footer>
			<div id="footer">
				<p>@2015 CIAOBRAND</p>
			</div>
		</footer>
	</div>
	<div class="popup">
		<p class="close">close</p>
		<div class="popupContent">
			<form action="/collection/add" method="post">
				<div>
					<label>type</label>
					<input type="text" name="type">
				</div>
				<div>
					<label>Style No.</label>
					<input type="text" name="style_no">
				</div>
				<div>
					<label>Brand title</label>
					<input type="text" name="title">
				</div>
				<div>
					<label>Brand subtitle</label>
					<input type="text" name="sub_title">
				</div>
				<div>
					<label>dimension</label>
					<input type="text" name="dimension">
				</div>
				<div>
					<label>price</label>
					<input type="text" name="price">
				</div>
				<input type="submit" value="submit" name="submit">
			</form>
		</div>
	</div>
	<script src="/javascript/jquery-1.7.1.min.js"></script>
	<script src="/javascript/collections.js"></script>
	<script src="/javascript/common.js"></script>
</body>
</html>